<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <script src="../../assets/mon-script.js"></script>">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">FootReserve</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        
                        <li class="nav-item"><a class="nav-link" routerLink="/reserver" >Réserver</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/connect" >Se connecter</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Votre endroit préféré pour réservez votre prochain match ici !</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Réservez votre terrain de football préféré en ligne avec facilité. Simplifiez la planification de vos matchs et assurez-vous d'avoir toujours un espace réservé pour jouer</p>
                        <a class="btn btn-primary btn-xl" routerLink="/home">Réserver un match</a>
                    </div>
                </div>
            </div>
        </header>
<div class="feature" >
    <div class="container">
        <div class="one">
            <img src="/assets/img/terrain1.jpg" alt="" class="l">
            <h2>We will make it</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tenetur exercitationem voluptates repellendus a cupiditate ducimus nesciunt voluptate, expedita maiores voluptas illum non dolor. Ex quas alias perferendis temporibus error?</p>
            <button class="btn btn-primary m-3" routerLink="/reservation">réserver</button>
        </div>
        <div class="one">
            <img src="/assets/img/terrain2.jpg" alt="" class="l">
            <h2>We will make it</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tenetur exercitationem voluptates repellendus a cupiditate ducimus nesciunt voluptate, expedita maiores voluptas illum non dolor. Ex quas alias perferendis temporibus error?</p>
            <button class="btn btn-primary m-3" routerLink="/reservation">réserver</button>
        </div>
        <div class="one">
            <img src="/assets/img/terrain3.jpg" alt="" class="l">
            <h2>We will make it</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tenetur exercitationem voluptates repellendus a cupiditate ducimus nesciunt voluptate, expedita maiores voluptas illum non dolor. Ex quas alias perferendis temporibus error?</p>
            <button class="btn btn-primary m-3" routerLink="/reservation">réserver</button>
        </div>
        <div class="one">
            <img src="/assets/img/terrain44.jpg" alt="" class="l" >
            <h2>We will make it</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tenetur exercitationem voluptates repellendus a cupiditate ducimus nesciunt voluptate, expedita maiores voluptas illum non dolor. Ex quas alias perferendis temporibus error?</p>
            <button class="btn btn-primary m-3" routerLink="/reservation">réserver</button>
        </div>
        <div class="one">
            <img src="/assets/img/terrain666.jpg" alt="" class="l">
            <h2>We will make it</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tenetur exercitationem voluptates repellendus a cupiditate ducimus nesciunt voluptate, expedita maiores voluptas illum non dolor. Ex quas alias perferendis temporibus error?</p>
            <button class="btn btn-primary m-3" routerLink="/reservation">réserver</button>
        </div>
        <div class="one">
            <img src="/assets/img/terrain44.jpg" alt="" class="l" >
            <h2>We will make it</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi tenetur exercitationem voluptates repellendus a cupiditate ducimus nesciunt voluptate, expedita maiores voluptas illum non dolor. Ex quas alias perferendis temporibus error?</p>
            <button class="btn btn-primary m-3" routerLink="/reservation">réserver</button>
        </div>
    </div>
</div>